################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/COF/.vs/COF/v16/.suo
/API/COF/COF/bin/Debug/net5.0
/API/COF/COF/obj
