################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/COF/.vs/COF/v16/.suo
/API/COF/COF/bin/Debug/net5.0
/API/COF/COF/obj
/API/COF/COF.Data/obj
/API/COF/COF.Domain/bin/Debug/net5.0
/API/COF/COF.Domain/obj
/API/COF/COF.Infra.CrossCutting/bin/Debug/net5.0
/API/COF/COF.Infra.CrossCutting/obj
/API/COF/COF.Infra.Shared/bin/Debug/net5.0
/API/COF/COF.Infra.Shared/obj
/API/COF/COF.Service/bin/Debug/net5.0
/API/COF/COF.Service/obj
